.button {
    padding: 13px 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    border: 0px;
    border-radius: 4px;
    color: #FFFFFF;
    background: #222222;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .button {
        padding: 13px 20px;
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width: 768px) {
    .button {
        padding: 12px 20px;
        font-size: 13px;
        line-height: 16px;
    }
}