.phone-photo {
    position: relative;
    max-width: 380px;
    height: auto;
    flex-shrink: 0;
    overflow: hidden;
}

.phone-photo img {
    display: block;
    width: 100%;
}

.phone-photo .photo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 86%;
    height: auto;
    left: 7%;
    top: 4%;
}

.phone-photo .frame {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    pointer-events: none;
}

.phone-photo .phone {
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1024px) {
    .phone-photo {
        max-width: 260px;
        max-height: 360px;
        overflow: hidden;
    }
}