.section-testimonials {
    padding-bottom: 100px;
    background-color: #F2F2F2;
}

.section-testimonials .big-paragraph {
    text-align: center;
    margin-bottom: 40px;
    color: #666666;
}

.section-testimonials .inner {
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

@media screen and (max-width: 1024px) {
    .section-testimonials .testimony-card {
        width: calc(50% - 38px);
    }
}
