.section-features {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.section-features .h2 {
    max-width: 600px;
}

.section-features .inner {
    max-width: 1440px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-features .feature-card {
    width: 30%;
    margin: 8px;
}

@media screen and (max-width: 1024px) {
    .section-features .feature-card {
        width: calc(50% - 38px);
    }
}

@media screen and (max-width: 768px) {
    .section-features .feature-card {
        width: auto;
    }
}