.section-pricing {
    display: flex;
    flex-direction: column;
    align-items: center;    
    text-align: center;
}

.section-pricing .big-paragraph {
    max-width: 600px;
    margin-bottom: 50px;
    color: #666666;
}

.section-pricing .inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.section-pricing .price-card:nth-child(1) {
    --special-color: #0278ED;
}

.section-pricing .price-card:nth-child(2) {
    --special-color: #FF5437;
}

.section-pricing .price-card:nth-child(3) {
    --special-color: #FF9209;
}

@media screen and (max-width: 1024px) {
    .section-pricing .price-card {
        width: calc(50% - 38px);
        
    }

    .section-pricing .price-card .price {
        font-size: 80px;
        line-height: 90px;
    }
}

@media screen and (max-width: 768px) {
    .section-pricing .price-card {
        width: 300px;       
    }

    .section-pricing .price-card .price {
        font-size: 60px;
        line-height: 70px;
    }
}