.section-featured-info {
    margin: 0;
    justify-content: center;
    text-align: center;
    background-color: #FF5437;
}

.section-featured-info .list {
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 120px;
}

.section-featured-info .paragraph {
    font-size: 96px;
    line-height: 96px;
}

.section-featured-info .title {
    font-size: 14px;
    line-height: 20px;
}

@media screen and (max-width: 1024px) {
    .section-featured-info .list {
        gap: 60px;
    }

    .section-featured-info .paragraph {
        font-size: 72px;
        line-height: 72px;
    }
}

@media screen and (max-width: 768px) {
    .section-featured-info .list {
        flex-wrap: wrap;
        gap: 30px;
    }

    .section-featured-info .paragraph {
        font-size: 58px;
        line-height: 60px;
        margin-bottom: 5px;
    }
}