.section-security {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 0;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 0;
    background-color: #F2F2F2;
}

.section-security .inner {    
    display: block;
    margin-left: 100px;
    padding-bottom: 100px;
    max-width: 420px;
}

.section-security .subtitle {
    text-align: left;
}

.section-security .title {
    text-align: left;
}

.section-security .paragraph {
    color: #666666;
}

@media screen and (max-width: 1024px) {
    .section-security .inner { 
        margin-left: 50px;
    }
}