.section-hero {
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-bottom: 0;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 0;
}

.section-hero .inner {    
    display: block;
    margin-top: 50px;
    padding-bottom: 100px;
    max-width: 390px;
}

.section-hero .logo {
    width: 192px;
    height: auto;
    margin-bottom: 8px;
}

.section-hero .title {
    text-align: left;
}

.section-hero .button {
    margin-left: 8px;
}

@media screen and (max-width: 768px) {
    .section-hero {
        flex-direction: column;
    }

    .section-hero .inner {
        margin-top: 0;
        padding-bottom: 60px;
        width: 100%;
        align-self: flex-start;
    }

    .section-hero .logo {
        width: 150px;
        height: auto;
        margin-bottom: 8px;
    }

    .section-hero .phone-photo {
        align-self: flex-end;
    }
}