.testimony-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    padding: 30px;
    max-width: 380px;
    background-color: #FFFFFF;
}

.testimony-card .testimony {
    margin-right: 20px;
    margin-bottom: 15px;
}

.testimony-card .customer {
    display: flex;    
    max-height: 48px;
    margin: 0;
}

.testimony-card .info > * {
    margin-left: 5px;
    margin-bottom: 0;
    line-height: 20px;
}

.testimony-card .customer .name {
    font-size: 16px;
}

.testimony-card .customer .dunder-miffin {
    font-size: 14px;
}
